* {
    margin: 0px;
    padding: 0px;
}

/* navbar part start  */
.header{
    background-color: #FFFBF0;
} 
/* navbar start  */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    gap: 250px;
}

.navbar img {
    height: 20%;
    width: 20%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin-left: 55px;
    color: #3C3C3C;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}
/* navbar end  */

.penguins-model {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.penguins-model .penguins {
    margin-top: 70px;
    margin-left: 98px;
}

.penguins-model .penguins span {
    color: #FABE4C;
    font-family: "Bebas Neue";
    font-size: 80px;
    font-weight: 400;
}
.penguins-model .penguins h1 {
    color: #363958;
    font-family: "Bebas Neue";
    font-size: 80px;
    font-weight: 400;
}

.penguins-model .penguins p {
    color: #3E3E3E;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.penguins-model .penguins span img {
    height: 6%;
    width: 6%;
    position: relative;
    right: 162px;
    top: -3px;
    cursor: pointer;
}
.penguins-model .penguins button {
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    padding: 18px 33px 18px 85px;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

.penguins-model .model-girl img {
    margin-right: 100px;
}
/* header section is end  */

/* main section start  */

.main .woman-catelog {
    display: flex;
}